.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../img/consultation.jpg") center (center/cover) no-repeat;
  &__descr {
    margin: 80px 0 36px 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
  }
  .error {
    border: 1px solid red;
  }
  label.error {
    color: #ffffff;
    border: none;
    text-align: center;
    margin-bottom: 15px;
  }
}
