.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #0d0d0d;
  text-align: center;
  text-transform: uppercase;
  &--left {
    max-width: 774px;
    font-size: 36px;
    color: #ffffff;
    text-align: left;
    line-height: 1.2;
  }
}
